{{ define "title" }}
{{ .Title }} – {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<main>
    <header>
        <h1>{{ .Title }}{{if .Params.Draft}}{{ partial "draft.html" . }}{{end}}
        <span class="right">
            {{with .Params.demo}}<a href="{{.}}">demo</a>{{end}}
            {{with .Params.source}}<a href="{{.}}">source</a>{{end}}
        </span>
        </h1>
    </header>
    {{if .Site.Params.show_read_time}}read it in {{.ReadingTime}} minute{{if (gt .ReadingTime 1)}}s{{end}}{{end}}
    {{ .Content }}
</main>
{{ end }}