{{ define "title" }}
{{ .Title }} – {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<main role="main" itemscope itemtype="http://schema.org/SoftwareSourceCode">
    {{ partial "components/meta.html" . }}
    {{ with .Params.source }}
        <meta itemtype="codeRepository" content="{{ . }}" />
        <meta itemtype="codeSampleType" content="full solution" />
    {{ end }}
    {{ with .Params.Language }}<meta itemtype="programmingLanguage" content="{{ . }}" />{{ end }}
    {{ with .Params.Runtime }}<meta itemtype="runtimePlatform" content="{{ . }}" />{{ end }}
    <header>
        <h1 itemprop="name">{{ .Title }}{{if .Params.Draft}}{{ partial "components/draft.html" . }}{{end}}
        <span class="right">
            {{with .Params.demo}}<a href="{{.}}">demo</a>{{end}}
            {{with .Params.source}}<a href="{{.}}">source</a>{{end}}
        </span>
        </h1>
    </header>
    {{ partial "components/readtime.html" . }}
    <div itemprop="text">{{ .Content }}</div>
</main>
{{ end }}