/*
 *  Special layouts for cover letters.
 */

@Supports (grid-area: auto) {
  @media screen and (min-width: 1000px) and (max-width: 1599px) {
    main.cover.cv-overview {
      grid-template-columns: 1fr repeat(2, minmax(300px, 400px)) 1fr;
      grid-template-rows: minmax(2em, 1fr) repeat(5, auto) minmax(2em, 1fr);
      grid-template-areas:
        ". .                .           ."
        ". information      information ."
        ". letter           letter      ."
        ". education        projects    ."
        ". responsibilities employment  ."
        ". skills           skills      ."
        ". .                .           .";
    }
  }

  @media screen and (min-width: 1600px) {
    main.cover.cv-overview {
      grid-template-columns: 1fr 300px minmax(0px,50px) minmax(300px,400px) minmax(300px,400px) minmax(0px,50px) minmax(400px,500px) 1fr;
      grid-template-rows: 1fr repeat(3, auto) 1fr;
      grid-template-areas:
        ". .           . .                .           . .      ."
        ". information . education        projects    . letter ."
        ". skills      . education        projects    . letter ."
        ". skills      . responsibilities employment  . letter ."
        ". .           . .                .           . .      .";
      > #skills {
        display: block;
      }
      > #letter > *:first-child {
        margin: 0;
      }
    }
  }
}
