@Supports (grid-area: auto) {
  .cv-overview {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 650px) 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas:
            ". information      ."
            ". letter           ."
            ". projects         ."
            ". employment       ."
            ". education        ."
            ". responsibilities ."
            ". skills           .";
  }

  @media screen and (min-width: 1000px) {
    .cv-overview {
      display: grid;
      grid-template-rows: 1fr repeat(3, auto) 1fr;
      grid-template-columns: 1fr 300px minmax(0px,50px) minmax(300px,400px) minmax(300px,400px) 1fr;
      grid-template-areas:
        ". .           . .                .           ."
        ". information . education        projects    ."
        ". skills      . education        projects    ."
        ". skills      . responsibilities employment  ."
        ". .           . .                .           .";
      > #skills {
        display: block !important;
      }
    }
  }
}
