@media print {
  @Supports (grid-area: auto) {
    main.cv-overview {
      display: grid;
      grid-template-rows: auto auto auto auto auto auto;
      grid-template-columns: 50% 50%;
      grid-template-areas:
        "information information"
        "letter      letter"
        "employment   projects"
        "education  responsibilities"
        "skills      skills";
    }
  }
}
