@media print {
  @Supports (grid-area: auto) {
    main.cv-overview {
      display: grid;
      grid-template-rows: auto auto auto auto auto;
      grid-template-columns: 50% 50%;
      grid-template-areas:
        "information skills"
        "letter      letter"
        "education   projects"
        "internships responsibilities";
    }
  }

  #information {
    a {
      white-space: nowrap;
    }
  }
}