@supports (grid-area: auto)
  @media screen and (min-width: 600px)  and (max-width: 999px)
    main#cover.cv
      grid-template-rows: auto auto auto auto auto;
      grid-template-areas: \
              "information        menu" \
              "skills      skills" \
              "cover       cover" \
              "education   projects" \
              "internships responsibilities";

  @media screen and (min-width: 1000px) and (max-width: 1599px)
    main#cover.cv
      grid-template-rows: minmax(2em, 1fr) auto auto auto auto minmax(2em, 1fr);
      grid-template-areas: \
              "menu . .                .           ." \
              "menu . cover            cover       ." \
              "menu . education        projects    ." \
              "menu . responsibilities internships ." \
              "menu . skills           skills      ." \
              "menu . .                .           .";

  @media screen and (min-width: 1600px)
    main#cover.cv
      grid-template-columns: 2fr 300px 1fr minmax(300px, 400px) minmax(300px, 400px) 0.5fr minmax(300px, 400px) 2fr;
      grid-template-rows: 1fr repeat(3, auto) 1fr;
      grid-template-areas: \
              ". .           . .                .           . .      ." \
              ". information . education        projects    . letter ." \
              ". skills      . education        projects    . letter ." \
              ". skills      . responsibilities internships . letter ." \
              ". .           . .                .           . .      .";