@import 'vars.styl'

.active
  color var(--background, background)
  background-color var(--foreground, foreground)

a
  color var(--foreground, foreground)

body
  margin 0
  display flex
  flex-direction column
  padding 1em
  background-color var(--background, background)
  color var(--foreground, foreground)
  font-weight 300
  font-family 'Roboto Mono', monospace

  > header, nav
    a
      text-decoration none
      color var(--foreground, foreground)
  > nav a
    text-transform uppercase

.contact
  font-size 2em
  margin 0.5em 0 1.5em 0
  a
    text-decoration none