@import 'vars.styl'

body
  background-color var(--background, background)
  color var(--foreground, foreground)
  font-weight 300
  font-family 'Roboto Mono', monospace

.active
  color var(--background, background)
  background-color var(--foreground, foreground)

body
  display flex
  flex-direction column
  padding 1em