@import "typebase.styl"
@import "vars.styl"

// fonts
@font-face
  font-family 'Roboto Mono'
  font-style normal
  font-weight 300
  src local('Roboto Mono Light'), local('RobotoMono-Light'), url(https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz9TIkQYohD4BpHvJ3NvbHoA.woff2) format('woff2')
  unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215

@font-face
  font-family 'Roboto Mono'
  font-style normal
  font-weight 500
  src local('Roboto Mono Medium'), local('RobotoMono-Medium'), url(https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz3JuJo8UJJfpGKt7pXjBv4s.woff2) format('woff2')
  unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215

// basic
body
  font-weight 300
  background-color var(--background, background)
  color var(--foreground, foreground)
  font-family 'Roboto Mono', monospace

a
  color var(--foreground, foreground)

div.highlight
  font-weight inherit
  font-size inherit
  pre[style]
    background-color transparent !important
    code[class^="language-"]
      background-color transparent
      border-width 0
      padding 0

.active
  color var(--background, background)
  background-color var(--foreground, foreground)

.fade
  color var(--foreground-03, rgba(foreground, 0.3))

.tag
  &.draft
    color red
    background-color transparent
    border-color red
    margin-left 0.5em
  text-decoration none
  padding 0 0.2em
  border 1px solid var(--foreground, foreground)
  font-weight 500

.tags
  margin 0 0.5em

div.gist > div.gist-file
  border-width 1px  !important
  border-color var(--foreground, foreground)
  padding 1em
  margin-bottom 2em
  > .gist-data
    border-bottom-width 0 !important
    background-color transparent
    .highlight
      background-color transparent
    table.highlight td,span
      font-family monospace !important
      font-weight 300
      color var(--foreground, foreground) !important
      &.pl-k
        font-weight bold
        color var(--foreground, foreground)
  > .gist-meta
    background-color transparent
    color var(--foreground, foreground)
    font-family monospace
    a
      color var(--foreground, foreground)

code
  border 1px solid var(--foreground-01, rgba(foreground, 0.1))
  color var(--foreground-08, rgba(foreground, 0.8))
  background-color var(--foreground-005, rgba(foreground, 0.05))
  padding 0 0.3em
  font-weight 500

// main
body
  min-width 420px
  display flex
  flex-direction column
  padding 1em

  > header
    margin 1em auto

    > h1 > a
      text-decoration none
      padding 0.1em 0.4em
      user-select: none

  > nav
    margin 1em
    display flex
    justify-content center

    > a
      margin 0 1em
      padding 0.1em 0.4em
      font-size 1.5em
      text-decoration none
      text-transform uppercase
      user-select: none

  > main
    max-width 800px
    width 100%
    margin 2em auto
    display flex
    flex-direction column

    #list
      margin 2em 0

article.summary
  border-left 2px solid var(--foreground, foreground)
  margin 1em 0
  padding 1em
  header
    display flex
    flex-direction row
    > h3
      margin-top 0
    a
      font-weight 500
    .right
      margin-left auto
  main
    margin 1em 0 0 0

main > header
  h1
    margin 0
    display flex
  .right
    display flex
    margin-left auto
    justify-content center
    align-items center
    > a
      margin-left 0.5em

ul.pagination
  list-style none
  padding 0
  display inline-block
  margin 0 auto
  li
    margin 0
    display inline-block
    padding 0.2em 0.6em
    &.active
      >a
        color var(--background, background)
    &.disabled
      >a
        color var(--foreground-03, rgba(foreground, 0.3))
        text-decoration none
        pointer-events: none;
        cursor: default;