@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Mono Light'), local('RobotoMono-Light'), url("https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz9TIkQYohD4BpHvJ3NvbHoA.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Mono Medium'), local('RobotoMono-Medium'), url("https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz3JuJo8UJJfpGKt7pXjBv4s.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
p {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
ul li,
ol li {
  line-height: 1.5rem;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem;
}
h1 {
  font-size: 3rem;
  line-height: 4.5rem;
  margin-top: 3rem;
}
h2 {
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 3rem;
}
h3 {
  font-size: 1rem;
}
h4 {
  font-size: 1/2rem;
}
h5 {
  font-size: 1/3rem;
}
h6 {
  font-size: 1/4rem;
}
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
  line-height: 24px;
}
code {
  vertical-align: bottom;
}
pre {
  background-color: transparent !important;
  margin: 1.5em 0 0 0;
}
pre code {
  background-color: transparent;
  border-width: 0;
  padding: 0;
}
code {
  border: 1px solid var(--foreground-01, rgba(0,0,0,0.1));
  color: var(--foreground-08, rgba(0,0,0,0.8));
  background-color: var(--foreground-005, rgba(0,0,0,0.05));
  padding: 0 0.3em;
  font-weight: 500;
}
div.gist > div.gist-file {
  border-width: 0 !important;
  padding: 1em;
  margin-bottom: 0;
}
div.gist > div.gist-file > .gist-data {
  border-bottom-width: 0 !important;
  background-color: transparent;
}
div.gist > div.gist-file > .gist-data .highlight {
  background-color: transparent;
}
div.gist > div.gist-file > .gist-data table.highlight td,
div.gist > div.gist-file > .gist-data span {
  font-family: "Roboto Mono", monospace !important;
  font-weight: 300;
  color: var(--foreground, #000) !important;
}
div.gist > div.gist-file > .gist-data table.highlight td.pl-k,
div.gist > div.gist-file > .gist-data span.pl-k {
  font-weight: bold;
  color: var(--foreground, #000);
}
div.gist > div.gist-file > .gist-meta {
  background-color: transparent;
  color: var(--foreground, #000);
  font-family: "Roboto Mono", monospace;
}
div.gist > div.gist-file > .gist-meta a {
  color: var(--foreground, #000);
}
ul.pagination {
  list-style: none;
  padding: 0;
  display: inline-block;
  margin: 0 auto;
}
ul.pagination li {
  margin: 0;
  display: inline-block;
  padding: 0.2em 0.6em;
}
ul.pagination li.active >a {
  color: var(--background, #fff);
}
ul.pagination li.disabled >a {
  color: var(--foreground-03, rgba(0,0,0,0.3));
  text-decoration: none;
  pointer-events: none;
  cursor: default;
}
article.card {
  border-left: 3px solid #000;
  margin: 1em;
  padding: 0.5em;
}
article.card > img {
  width: 100%;
}
article.card > header {
  margin-bottom: 0.1em;
  font-weight: 500;
}
article.card > ul {
  color: #808080;
  font-size: 0.8em;
  margin: 1em 0 0 0;
  padding: 0;
}
article.card > ul li {
  list-style: none;
}
article.card > ul.buttons {
  margin: 0;
  padding: 0;
}
article.card > ul.buttons li {
  display: inline;
}
article.card .date {
  font-size: 0.8em;
  color: #a6a6a6;
}
article.card a {
  color: inherit;
}
@supports (grid-area: auto) {
@media screen and (min-width: 600px) and (max-width: 999px) {
    main.cv {
      display: grid;
      grid-template-columns: 1fr minmax(auto, 650px) 1fr;
      grid-template-rows: auto auto auto auto 1fr auto;
      grid-template-areas: ". information      ." ". projects         ." ". education        ." ". internships      ." ". responsibilities ." ". skills           .";
    }
    main.cv > #view:after {
      content: 'medium grid 1';
    }
}
@media screen and (min-width: 1000px) and (max-width: 1299px) {
    main.cv {
      display: grid;
      grid-template-columns: 1fr minmax(auto, 400px) minmax(auto, 400px) 1fr;
      grid-template-rows: auto auto auto auto;
      grid-template-areas: ". information      skills      ." ". education        projects    ." ". responsibilities internships ." ;;
    }
    main.cv > #view:after {
      content: 'medium grid 2';
    }
}
@media screen and (min-width: 1000px) {
    main.cv {
      display: grid;
      grid-template-columns: 1fr 300px minmax(40px, 100px) minmax(300px, 400px) minmax(300px, 400px) 1fr;
      grid-template-rows: 1fr repeat(3, auto) 1fr;
      grid-template-areas: ". .           . .                .           ." ". information . education        projects    ." ". skills      . education        projects    ." ". skills      . responsibilities internships ." ". .           . .                .           .";
    }
    main.cv > #skills {
      padding: 0 2em;
      display: block;
    }
}
}
@supports (grid-area: auto) {
@media screen and (min-width: 600px) and (max-width: 999px) {
    main#cover.cv {
      grid-template-rows: auto auto auto auto auto;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "information skills" "letter      letter" "cover       cover" "education   projects" "internships responsibilities";
    }
}
@media screen and (min-width: 1000px) and (max-width: 1599px) {
    main#cover.cv {
      grid-template-columns: 1fr repeat(2, minmax(300px, 400px)) 1fr;
      grid-template-rows: minmax(2em, 1fr) repeat(5, auto) minmax(2em, 1fr);
      grid-template-areas: ". .                .           ." ". information      information ." ". letter           letter      ." ". education        projects    ." ". responsibilities internships ." ". skills           skills      ." ". .                .           .";
    }
}
@media screen and (min-width: 1600px) {
    main#cover.cv {
      grid-template-columns: 1fr 300px minmax(40px, 100px) minmax(300px, 400px) minmax(300px, 400px) minmax(40px, 100px) minmax(300px, 400px) 1fr;
      grid-template-rows: 1fr repeat(3, auto) 1fr;
      grid-template-areas: ". .           . .                .           . .      ." ". information . education        projects    . letter ." ". skills      . education        projects    . letter ." ". skills      . responsibilities internships . letter ." ". .           . .                .           . .      .";
    }
    main#cover.cv > #skills {
      display: block;
    }
}
}
@supports (grid-area: auto) {
  main.cv {
    width: 100%;
    margin: 0;
    max-width: none;
    min-height: 100vh;
  }
  main.cv > #letter {
    grid-area: letter;
  }
  main.cv > #information {
    grid-area: information;
  }
  main.cv > #skills {
    grid-area: skills;
  }
  main.cv > #education {
    grid-area: education;
  }
  main.cv > #projects {
    grid-area: projects;
  }
  main.cv > #internships {
    grid-area: internships;
  }
  main.cv > #responsibilities {
    grid-area: responsibilities;
  }
}
.fade {
  color: var(--foreground-05, rgba(0,0,0,0.5));
}
div.asciicast {
  display: flex !important;
}
div.asciicast iframe {
  margin: 2em auto !important;
}
table:not(.highlight) {
  width: 75%;
  margin: 2em auto;
}
table:not(.highlight) tr {
  border-bottom: 1px solid var(--foreground-03, rgba(0,0,0,0.3));
}
table:not(.highlight) tr td,
table:not(.highlight) tr th {
  padding: 0.5em 1em;
}
.tag {
  text-decoration: none;
  padding: 0 0.2em;
  border: 1px solid var(--foreground, #000);
  font-weight: 500;
}
.tag.draft {
  color: #f00;
  background-color: transparent;
  border-color: #f00;
  margin-left: 0.5em;
}
.tags {
  margin: 0 0.5em;
}
hr {
  width: 100%;
  border-style: none;
  border-bottom: 1px solid var(--foreground, #000);
}
body {
  font-size: 16px;
  min-height: 100vh;
  box-sizing: border-box;
}
body > header {
  display: flex;
}
@media screen and (min-width: 800px) {
  body > header > a {
    margin: 4rem auto 1rem auto;
  }
}
@media screen and (max-width: 799px) {
  body > header > a {
    margin: 0 auto 1rem auto;
  }
}
body > header > a > h1 {
  text-align: center;
  padding: 0.1em 0.4em;
  margin: 0;
  user-select: none;
}
body > nav {
  margin: 1em;
  display: flex;
  justify-content: center;
}
body > nav > a {
  margin: 0 1em;
  padding: 0.1em 0.4em;
  font-size: 1.5em;
  user-select: none;
}
body > main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}
body > main > header h1 {
  margin: 0;
  display: flex;
}
body > main > header .right {
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
}
body > main > header .right > a {
  margin-left: 0.5em;
}
body > footer {
  text-align: center;
  padding: 2rem 0;
}
body > footer .contact {
  font-size: 2em;
  margin: 0 0 1.5em 0;
}
body > footer .contact a {
  text-decoration: none;
}
article.summary {
  border-left: 2px solid var(--foreground, #000);
  margin: 1em 0;
  padding: 1em;
}
article.summary header {
  display: flex;
  flex-direction: row;
}
article.summary header > h3 {
  margin-top: 0;
}
article.summary header a {
  font-weight: 500;
}
article.summary header .right {
  margin-left: auto;
}
article.summary main {
  margin: 1em 0 0 0;
}
main > section {
  padding: 1em;
}
main > section > header {
  font-size: 1.5em;
  font-weight: bold;
}
main.cv > #information,
main.cv #skills {
  background-color: #000;
  color: #fff;
}
main.cv > #information a,
main.cv #skills a {
  color: #fff;
}
main.cv > #information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4em 0;
  text-align: center;
}
main.cv > #information > p {
  margin: 1.5em 1.5em 0 1.5em;
}
main.cv > #letter > p:first-child {
  margin: 0;
}
section#skills {
  display: flex;
  align-items: center;
  justify-content: center;
}
section#skills >ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
section#skills >ul >li {
  list-style: none;
  padding: 0 0.5em;
}
/*# sourceMappingURL=style.css.map */