background = #FFF
foreground = #000

// Typesetting variables. Edit these!
font-size =    14px // in pixels. This would result in 22px on desktop
baseline-height =  1.5 // how large the line height is as a multiple of font size
leading = baseline-height * 1rem
// Rate of growth for headings
// I actually like this to be slightly smaller then the leading. Makes for tight headings.
scale = 1
