@import "typography.scss";
@import "variables.scss";
@import "grid/grid.scss";
@import "components/code.scss";
@import "components/pagination.scss";
@import "components/card.scss";
@import "components/tags.scss";
@import "components/summary.scss";
@import "components/asciicast.scss";

body {
  font-size: $font-size;
  min-height: 100vh;
  box-sizing: border-box;
  overflow-y: scroll;

  > header {
    display: flex;
    > a {
      @media screen and (min-width: 800px) {
        margin: 4rem auto 1rem auto;
      }
      @media screen and (max-width: 799px) {
        margin: 0 auto 1rem auto;
      }
      > h1 {
        text-align: center;
        padding: 0.1em 0.4em;
        margin: 0;
        user-select: none;
      }
    }
  }

  > nav {
    margin: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    > a {
      margin: 0 1em;
      padding: 0.1em 0.4em;
      font-size: 1.5em;
      user-select: none;
    }
  }

  > main {
    @media screen and (max-width: 799px) {
      padding: 1em;
    }
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    width: 100%;

    > header {
      h1 {
        margin: 0;
        display: flex;
      }
      .right {
        display: flex;
        margin-left: auto;
        justify-content: center;
        align-items: center;
        > a {
          margin-left: 0.5em;
        }
      }
    }
    > section {
      padding: 1em;
      > header {
        font-size: 1.5em;
        font-weight: $font-weight-bold;
      }
    }

    // tag list styles
    &.tags {
      justify-content: center;
      align-items: center;
    }
    // cv overview styles
    &.cv-overview {
      > #information, #skills {
        background-color: var(--foreground, $foreground);
        color: var(--background, $background);
        a {
          color: var(--background, $background);
        }
      }
      > #information {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 4em 0;
        text-align: center;
        > p {
          margin: 1.5em 1.5em 0 1.5em;
        }
      }
      #skills {
        display: flex;
        align-items: center;
        justify-content: center;
        > ul {
          padding: 0;
          display: flex;
          flex-wrap: wrap;
          > li {
            list-style: none;
            padding: 0 0.5em;
          }
        }
      }
      > #letter > *:first-child {
        margin: 0;
      }
    }
  }

  > footer {
    text-align: center;
    padding: 2rem 0;
    .contact {
      font-size: 2em;
      margin: 0 0 1.5em 0;
      a {
        text-decoration: none;
      }
    }
  }
}

// non github code tables
table:not(.highlight) {
  width: 75%;
  margin: 2em auto;
  tr {
    border-bottom: 1px solid var(--foreground-03, rgba($foreground, 0.3));
    td, th {
      padding: 0.5em 1em;
    }
  }
}