@import "variables";
@import "print";
@import "grid/grid";
@import "components/code";
@import "components/pagination";
@import "components/article";
@import "components/asciicast";
@import "components/typography";

body {
  min-height: 100vh;
  box-sizing: border-box;
  overflow-y: scroll;

  > header {
    position: relative;
    background-size: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/backdrop.jpeg");
    overflow: hidden;

    &:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background-size: cover;
      background-image: url("/backdrop.jpeg");
      background-position: center;
      filter: blur(2em);
      z-index: -1;
      transform: scale(1.4);
    }

    > a {
      margin: 10rem 0 0 0;
      width: 100%;

      @media screen and (min-width: 800px) {
        margin: 6rem auto 3rem auto;
        width: auto;
      }

      > h1 {
        text-align: center;
        padding: 0.1em 0.4em;
        margin: 0;
        background-color: white;
      }
    }
  }

  > nav {
    margin-top: 3em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    > a {
      margin: 0 1em;
      padding: 0.1em 0.4em 0.2em;
      font-size: 1.5em;
    }
  }

  > main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
    padding: 0.5em;

    > section {
      padding: 1em;

      > header {
        font-size: 1.5em;
        font-weight: $font-weight-bold;
      }
    }

    // tag list page styles
    &.skills {
      margin: 2em auto;
    }

    // cv overview styles
    &.cv-overview {
      > #information, #skills {
        background-color: var(--foreground, $foreground);
        color: var(--background, $background);
        font-family: $font-family-mono;

        a {
          color: var(--background, $background);
        }
      }

      > #information {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2em 1em;
        text-align: center;

        ul {
          margin: 0;
          padding: 0;

          li {
            display: inline-block;
          }
        }
      }

      #skills {
        *:first-child {
          margin-top: 0;
        }

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        > ol {
          padding-left: 0;
          margin: 0.5em 0;
          font-size: 0.8em;
          list-style: none;

          li {
            transition: opacity 1s ease;
          }

          time {
            opacity: 0.6;
          }
        }
      }
    }
  }

  > footer {
    text-align: center;
    padding: 2rem 0;

    .contact {
      font-size: 2em;
      margin: 0 0 1.5em 0;

      a {
        text-decoration: none;
        margin: 0.3em;
      }
    }

    .copyright {
      opacity: 0.4;
      font-size: 0.8em;
    }
  }
}

// flex headers, no margin
header {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  // right in flex headers
  > .right {
    margin-left: auto !important;
  }
}

// non code tables
table:not(.highlight):not(.lntable) {
  width: 75%;
  margin: 2em auto;

  tr {
    border-bottom: 1px solid var(--foreground-03, rgba($foreground, 0.3));

    td, th {
      padding: 0.5em 1em;
    }
  }
}

// draft element
.draft {
  color: red;
  background-color: transparent;
  text-decoration: none;
  padding: 0 0.2em;
  border: 0.1em solid red;
  font-weight: $font-weight-bold;
}

img#signature {
  max-height: 3em;
  margin-top: 1em;
}

pre {
  overflow-x: scroll;
  font-family: inherit;
}

p {
  code {
    font-weight: $font-weight-bold;
  }
}

.institution {
  font-family: $font-family-mono;
  margin: 0.2em 0;
}

blockquote {
  color: lighten($foreground, 50);
  border-left: 3px solid lighten($foreground, 50);
  padding-left: 1em;
}

ul.skill-list {
  padding: 0;
  margin: 0.5em -0.5em 1.5em -0.5em;
  display: flex;
  flex-wrap: wrap;
  > li {
    list-style: none;
    padding: 0 0.5em;
  }
}
