@import "variables";
@import "print";
@import "grid/grid";
@import "components/code";
@import "components/pagination";
@import "components/article";
@import "components/asciicast";
@import "components/typography";

body {
  font-size: $font-size;
  min-height: 100vh;
  box-sizing: border-box;
  overflow-y: scroll;

  > header {
    > a {
      margin: 0;
      width: 100%;

      @media screen and (min-width: 800px) {
        margin: 4rem auto 1rem auto;
        width: auto;
        > h1 {
          padding: 0.1em 0.4em !important;
        }
      }

      > h1 {
        text-align: center;
        margin: 0;
        padding: 1em;
      }
    }
  }

  > nav {
    margin: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    > a {
      margin: 0 1em;
      padding: 0.1em 0.4em;
      font-size: 1.5em;
    }
  }

  > main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    width: 100%;

    $section-padding: 2em;

    @media screen and (max-width: 800px) {
      margin: 1em;
      width: calc(100% - 2em);
      > section {
        padding: $section-padding 0 !important;
      }
    }

    > section {
      padding: $section-padding;
      > header {
        font-size: 1.5em;
        font-weight: $font-weight-bold;
      }
    }

    // tag list page styles
    &.tags {
      justify-content: center;
      align-items: center;
    }
    // cv overview styles
    &.cv-overview {
      > #information, #skills {
        background-color: var(--foreground, $foreground);
        color: var(--background, $background);
        a {
          color: var(--background, $background);
        }
      }
      > #information {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 4em 0;
        text-align: center;
        > p {
          margin: 1.5em 1.5em 0 1.5em;
        }
      }
      #skills {
        display: flex;
        align-items: center;
        justify-content: center;
        > ul {
          padding: 0;
          display: flex;
          flex-wrap: wrap;
          > li {
            list-style: none;
            padding: 0 0.5em;
          }
        }
      }
    }
  }

  > footer {
    text-align: center;
    padding: 2rem 0;
    .contact {
      font-size: 2em;
      margin: 0 0 3em 0;
      a {
        text-decoration: none;
      }
    }
  }
}

// flex headers, no margin
header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  // right in flex headers
  > .right {
    margin-left: auto !important;
  }
}

// non code tables
table:not(.highlight):not(.lntable) {
  width: 75%;
  margin: 2em auto;
  tr {
    border-bottom: 1px solid var(--foreground-03, rgba($foreground, 0.3));
    td, th {
      padding: 0.5em 1em;
    }
  }
}

// draft element
.draft {
  color: red;
  background-color: transparent;
  text-decoration: none;
  padding: 0 0.2em;
  border: 0.1em solid red;
  font-weight: $font-weight-bold;
}

img#signature {
  max-height: 2.5em;
  margin-top: 1em;
}

pre {
  overflow-x: scroll;
  font-family: inherit;
}

p {
  code {
    font-family: inherit;
    font-weight: 600;
  }
}

.symbol {
  display: block;
  margin: 0 auto
}