$background: #FFF;
$foreground: #000;

$baseline-height: 1.5;
$leading: $baseline-height * 1rem;

$font-family: 'system-ui';
$font-family-mono: 'IBM Plex Mono';
$font-size: 16px;
$font-weight-regular: 300;
$font-weight-bold: 600;

$scale: 1;