$background: #FFF;
$foreground: #000;

$baseline-height: 1.5;
$leading: $baseline-height * 1rem;

$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size: 16px;
$font-weight-regular: 300;
$font-weight-bold: 600;

$scale: 1;