@import "../variables.scss";

$card-content-size: 0.8;

article.card {
  margin-bottom: 2em;
  font-size: 1em * $card-content-size;

  > header {
    > h3 {
      margin-top: -0.2em;
      font-weight: 600;
      > a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    font-size: 1em / $card-content-size;
    font-weight: $font-weight-bold;
  }

  > .card-content {
    margin-top: 0.3em;
    > p, ul {
      margin-top: 0;
      line-height: 1.2rem;
    }
    li {
      line-height: 1.2rem;
    }
    > *:last-child {
      margin-bottom: 0;
    }
  }

  .date {
    font-size: 0.8em;
    opacity: 0.4;
    margin-left: auto;
  }

  ul {
    padding-left: 0;
    list-style: none;
    li {
      &:before {
        content: "- ";
      }
      padding-left: 0.5em;
    }
    &.buttons {
      margin: 0;
      padding: 0;
      li {
        display: inline;
        padding: 0;
        white-space: nowrap;
        &:before {
          content: none;
        }
      }
    }
  }
}

article.cv-item {
  .institution {
    font-family: $font-family-mono;
    margin: 0;
  }
  > header {
    display: block;
    * {
      display: inline-block;
    }
  }
}
