@import "../variables.scss";

pre {
  background-color: transparent !important;
  margin: 2em 2em;
  code {
    background-color: transparent;
    border-width: 0;
    padding: 0;
    font-family: $font-family;
  }
}

div.gist-container {
  margin-top: 2em;
}

div.gist > div.gist-file {
  border-width: 0 !important;
  padding: 1em;
  margin-bottom: 0;
  > .gist-data {
    border-bottom-width: 0 !important;
    background-color: transparent;
    .highlight {
      background-color: transparent;
    }
    table.highlight td, span {
      font-family: $font-family, monospace !important;
      font-weight: $font-weight-regular;
      color: var(--foreground, $foreground) !important;
      &.pl-k {
        font-weight: $font-weight-bold;
        color: var(--foreground, $foreground);
      }
    }
  }
  > .gist-meta {
    background-color: transparent;
    color: var(--foreground, $foreground);
    font-family: $font-family, monospace;
    a {
      color: var(--foreground, $foreground);
    }
  }
}
