@import "../variables.scss";

code {
  font-family: $font-family-mono;
}

// plain code blocks
pre:not(.chroma) {
  background-color: $code-color;
  font-size: $code-size;
  margin: 1em 0;
  padding: 1em;
}

// syntax highlighted code
div.highlight {
  background-color: $code-color;
  font-size: $code-size;
  margin: 1em 0;
  > .chroma {
    > table.lntable {
      padding: 1em;
    }
    tr {
      border-width: 0;
      td {
        line-height: initial;
        pre {
          margin: 0;
        }
      }
    }
    .lntd {
      vertical-align: top;
      padding: 1px 10px;
      margin: 0;
      border: 0;
    }
    .lntable {
      border-spacing: 0;
      padding: 0;
      margin: 0;
      border: 0;
      width: auto;
      overflow: auto;
      display: block;
    }
    .k,.kc,.kd,.kn,.kr,.nc,.ni,.ne,.nn,.nt {
      font-weight: 600
    }
    .c1 {
      opacity: 0.3;
      font-weight: 600;
    }
    .s,.sa,.sb,.sc,.dl,.s1,.sr,.sx,.sh,.s2,.sd {
      font-style: italic
    }
    .si {
      font-weight: bold;
      font-style: italic
    }
    .se {
      font-weight: bold;
      font-style: italic
    }
    .gh {
      font-weight: bold
    }
    .ge {
      font-style: italic
    }
    .cs {
      font-style: italic
    }
    .ss {
      font-style: italic
    }
    .ow {
      font-weight: bold
    }
    .c {
      font-style: italic
    }
    .ch {
      font-style: italic
    }
    .cm {
      font-style: italic
    }
    .gu {
      font-weight: bold
    }
    .gs {
      font-weight: bold
    }
    .gp {
      font-weight: bold
    }
  }
}

// gist
.gist-container {
  margin-top: 2em;
}

.gist {
  font-size: 1em;
  > .gist-file {
    margin: 0 !important;
    > .gist-data {
      border-bottom-width: 0 !important;
      background-color: transparent;
      table.highlight {
        background-color: transparent;
        font-size: 1em;
        .blob-num, .blob-code {
          font-size: 1em;
          line-height: 1.5em;
        }
        td, span {
          font-family: $font-family-mono !important;
          font-weight: $font-weight-regular;
          color: var(--foreground, $foreground) !important;
          &.pl-k {
            font-weight: $font-weight-bold;
            color: var(--foreground, $foreground);
          }
        }
      }
    }
    > .gist-meta {
      font-size: 1em;
      background-color: transparent;
      color: var(--foreground, $foreground);
      font-family: $font-family-mono;
      a {
        color: var(--foreground, $foreground);
      }
    }
  }
}
