@import "../variables.scss";

ul.pagination {
  list-style: none;
  padding: 0;
  display: inline-block;
  margin: 0 auto;
  li {
    margin: 0;
    display: inline-block;
    padding: 0.2em 0.6em;
    &.active {
      >a {
        color: var(--background, $background);
      }
    }
    &.disabled {
      >a {
        color: var(--foreground-03, rgba($foreground, 0.3));
        text-decoration: none;
        pointer-events: none;
        cursor: default;
      }
    }
  }
}
