.tag {
  &.draft {
    color: red;
    background-color: transparent;
    border-color: red;
    margin-left: 0.5em;
  }
  text-decoration: none;
  padding: 0 0.2em;
  border: 1px solid var(--foreground, $foreground);
  font-weight: $font-weight-bold;
}

div.tags {
  margin: 0 0.5em;
}