@import "../variables";

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 300;
  src: local('IBM Plex Mono Light'), local('IBMPlexMono-Light'), url(https://fonts.gstatic.com/s/ibmplexmono/v2/-F6qfjptAgt5VM-kVkqdyU8n3oQIwlBFgsAXHNk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 600;
  src: local('IBM Plex Mono SemiBold'), local('IBMPlexMono-SemiBold'), url(https://fonts.gstatic.com/s/ibmplexmono/v2/-F6qfjptAgt5VM-kVkqdyU8n3vAOwlBFgsAXHNk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

p {
  line-height: $leading;
  margin-top: $leading;
  margin-bottom: 0;
}

ul, ol {

  margin-top: $leading;
  margin-bottom: $leading;
  li {
    line-height: $leading;
  }

  ul, ol {

    margin-top: 0;
    margin-bottom: 0;
  }
}


blockquote {
  line-height: $leading;
  margin-top: $leading;
  margin-bottom: $leading;
}

h1, h2, 
h3, 
h4, 
h5, 
h6 {

  margin-top: $leading;
  margin-bottom: 0;
  line-height: $leading;
}

h1 {
  font-size: 3 * $scale * 1rem;
  line-height: 3 * $leading;
  margin-top: 2 * $leading;
}

h2 {
  font-size: 2 * $scale * 1rem;
  line-height: 2 * $leading;
  margin-top: 2 * $leading;
}

h3 {
  font-size: 1 * $scale * 1rem;
}

h4 {
  font-size: $scale / 2 * 1rem;
}

h5 {
  font-size: $scale / 3 * 1rem;
}

h6 {
  font-size: $scale / 4 * 1rem;
}

table {
  margin-top: $leading;
  border-spacing: 0px;
  border-collapse: collapse;
}

td, th {
  padding: 0;
  line-height: $baseline-height * $scale / 4 * 1rem;
}

code {
  vertical-align: bottom;
}
