{{if (fileExists "/layouts/partials/art.html")}}{{ partial "art.html" . }}{{end}}
{{ "<!-- Doctype HTML5 -->" | safeHTML }}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    {{ partial "frame/meta.html" . }}
    {{ partial "components/ga.html" . }}

    {{ $sass := resources.Get "scss/critical.scss" | toCSS }}
    {{ if (fileExists "assets/scss/custom.scss") }}
        {{ $custom := resources.Get "scss/custom.scss" }}
        {{ $styles := slice ($sass | toCSS) ($custom | toCSS) | resources.Concat "style.css" | minify }}
        <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
    {{ else }}
        {{ $styles := $sass | toCSS | minify }}
        <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
    {{ end }}
    {{ $styles := resources.Get "scss/style.scss" | toCSS | minify }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />

    {{ if not .IsPage }}
        {{ with .Paginator }}{{ with .Next }}<link rel="next" href="{{ .URL }}"/>{{ end }}{{ end }}
        {{ with .Paginator }}{{ with .Prev }}<link rel="prev" href="{{ .URL }}"/>{{ end }}{{ end }}
    {{ else }}
        {{ with .Next }}<link rel="next" href="{{ .URL }}" />{{ end }}
        {{ with .Prev }}<link rel="prev" href="{{ .URL }}" />{{ end }}
    {{ end }}

    {{ with .Site.Params.fontawesome_kit }}
        <script src="https://kit.fontawesome.com/{{ . }}.js" crossorigin="anonymous"></script>
    {{ end }}


    {{ with .Site.Params.plausible_domain }}
        <script async defer data-domain="{{ . }}" src="https://plausible.io/js/plausible.js"></script>
    {{ end }}
</head>
<body>
    {{ if not (eq .Site.Params.cv.enabled true) }}{{ partial "frame/header.html" . }}{{ end }}
    {{ block "main" . }}{{ end }}
    {{ if not (eq .Site.Params.cv.enabled true) }}{{ partial "frame/footer.html" . }}{{end}}
    {{ partial "components/sw.html" . }}
</body>
</html>
