<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<header><a {{ if .IsHome}}class="active"{{end}} href="{{ "/" | relURL }}">{{ .Site.Title }}</a></header>
<nav>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
        <a {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}class="active"{{end}} href="{{.URL}}">{{.URL}}</a>
    {{ end }}
</nav>
{{ block "main" . }}{{ end }}
</body>
</html>