{{/*
This template conditionally renders either the default summary view,
or the specific cv view associated with its section if cv mode is enabled.
*/}}
{{ define "main" }}

{{ $cv := .Site.Params.cv.enabled }}

{{ if $cv }}
    {{ $cv_home := (and $cv (eq .Kind "home")) }}
    <main role="main" {{ if $cv_home }} class="cv-overview" {{ end }}>
        {{ if $cv_home }}
            {{ partial "cv.html" . }}
        {{end}}
    </main>
{{ else }}
    <main role="main">
        {{ with .Content }}<section id="blurb">{{ . }}</section>{{ end }}
        <section id="list">
            {{ range .Paginator.Pages }}
                {{ partial "summary.html" . }}
            {{ end }}
        </section>
        {{ partial "components/pagination.html" . }}
    </main>
{{ end }}
{{ end }}
