{{/*
This template conditionally renders either the default summary view,
or the specific cv view associated with its section if cv mode is enabled.
*/}}
{{ define "main" }}

<main>
    {{ with .Content }}<section id="blurb">{{ . }}</section>{{ end }}
    {{ if .IsHome }}
        {{ partial "events.html" . }}
    {{ end }}

    <section id="list">
        <img style="height: 4em; display:block; margin: 0 auto" src="/newspaper.svg">
        <h2>Articles</h2>
        {{ range where .Paginator.Pages "Section" "ne" "events" }}
            {{ .Render "summary" }}
        {{ end }}
    </section>
    {{ partial "components/pagination.html" . }}
</main>

{{ end }}