{{ define "title" }}
    {{ .Title }} – {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<main role="main" itemscope itemtype="http://schema.org/Article">
    <meta itemprop="isFamilyFriendly" content="true" />
    <meta itemprop="url" content="{{ .RelPermalink }}" />
    {{ with .ReadingTime }}<meta itemprop="timeRequired" content="P{{.}}M" />{{ end }}
    {{ with .Params.Tags }}<meta itemprop="keywords" content="{{ delimit . ", " }}" />{{ end }}
    <h1 itemprop="name headline">
        {{ .Title }}
        {{if .Params.Draft}}{{ partial "components/draft.html" . }}{{end}}
    </h1>
    {{ partial "components/readtime.html" . }}
    <div itemprop="text">{{ .Content }}</div>
</main>
{{ end }}