<section id="information">
    <div class="personal">
        {{ with .Site.Params.Author }}<div>{{ . }}</div>{{ end }}
        {{ with .Site.Params.cv.data.currently }}<div>{{ . }}</div>{{ end }}
    </div>
    <ul class="links">
        {{ with .Site.Params.cv.data.github }}<li><a href="https://github.com/{{ . }}">github</a></li>{{ end }}
        {{ with .Site.Params.cv.data.site }}<li><a href="{{ . }}">blog</a></li>{{ end }}
        {{ if .IsPage }}
            {{ with .Site.Params.cv.data.email }}<li><a href="mailto:{{ . }}">{{ . }}</a></li>{{ end }}
            {{ with .Site.Params.cv.data.phone }}<li><a href="tel:{{ . }}">{{ . }}</a></li>{{ end }}
        {{ end }}
    </ul>
    {{ with .Site.Params.description }}<p>{{ . }}</p>{{ end }}
</section>

{{ if .IsPage }}
<section id="letter">
    {{ .Content }}
    <p id="consideration">I am looking forward to hearing back from you. Thank you for your consideration,</p>
    <img id="signature" src="/signature.png">
</section>
{{ end }}

{{ range $seq := where .Site.Sections "Title" "in" (apply .Site.Params.cv.sections "title" ".") }}
    <section id="{{ lower .Title }}">
        <header><h2>{{ .Title }}</h2></header>
        {{ range where .Pages "Params.pin" true }}
            {{ partial ( print "cv/" (lower $seq.Title) ) . }}
        {{ end }}
    </section>
{{ end }}

<section id="skills">
    <ul>
        {{ $site := .Site }}
        {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
        {{ if ge (len $taxonomy) $site.Params.cv.min_for_tag }}
            <li><a class="tag" href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a></li>
        {{ end }}
        {{ end }}
    </ul>
</section>
