<section id="information">
    {{ with .Site.Params.Author }}<div>{{ . }}</div>{{ end }}
    {{ with .Site.Params.cv.data.currently }}<div>{{ . }}</div>{{ end }}
    <div>
        {{ with .Site.Params.cv.data.github }}<a href="https://github.com/{{ . }}">github</a>{{ end }}
        {{ with .Site.Params.cv.data.site }}<a href="{{ . }}">homepage</a>{{ end }}
    </div>
    {{ with .Site.Params.cv.data.blurb }}<p>{{ . }}</p>{{ end }}
</section>

{{ if .IsPage }}
<section id="letter">
    {{ .Content }}
    <p id="consideration">I am looking forward to hearing back from you. Thank you for your consideration,</p>
    <img id="signature" src="/assets/signature.png">
</section>
{{ end }}

{{ range $seq := where .Site.Sections "Title" "in" (apply .Site.Params.cv.sections "title" ".") }}
    <section id="{{ lower .Title }}">
        <header><h2>{{ .Title }}</h2></header>
        {{ range where .Pages "Params.pin" true }}
            {{ partial ( print "cv/" (lower $seq.Title) ) . }}
        {{ end }}
    </section>
{{ end }}

<section id="skills">
    <ul>
        {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
            <li><a class="tag" href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a></li>
        {{ end }}
    </ul>
</section>
