<article class="card summary" itemscope itemtype="http://schema.org/Article">
    <meta itemprop="isFamilyFriendly" content="true" />
    <meta itemprop="url" content="{{ .RelPermalink }}" />
    {{ with .ReadingTime }}<meta itemprop="timeRequired" content="P{{.}}M" />{{ end }}
    {{ with .Params.Tags }}<meta itemprop="keywords" content="{{ delimit . ", " }}" />{{ end }}
    <header>
        <h3>
            <a href="{{ .RelPermalink }}" itemprop="name headline">{{ .Title }}</a>
            {{if .Params.Draft}}{{ partial "components/draft.html" . }}{{end}}
        </h3>
        <time class="date right" itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">{{ .Date.Format "Jan 2, 2006" }} at {{ .Date.Format "15:04" }}</time>
    </header>
    <div class="card-content" itemprop="description">
        {{ if .Summary }}
            {{.Summary}}
        {{else}}
            <span>No Description</span>
        {{end}}
    </div>
</article>