<article class="summary">
    <header>
        <h3>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            {{if .Params.Draft}}{{ partial "draft.html" . }}{{end}}
        </h3>
        <div class="right">{{ .Date.Format "Jan 2, 2006 15:04:05" }}</div>
    </header>
    <main>
        {{ if .Summary }}
            {{.Summary}}
        {{else}}
            <span class="fade">No Description</span>
        {{end}}

        {{ if .Truncated }}
            <a href="{{ .RelPermalink }}">Read More</a>
        {{ end }}
    </main>
</article>