<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<header><a {{ if .IsHome}}class="active"{{end}} href="{{ "/" | relURL }}">{{ .Site.Title }}</a></header>
<nav>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <a {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}class="active"{{end}} href="{{.URL}}">{{.URL}}</a>
    {{ end }}
</nav>
<main>
    {{with .Content}}
    <section id="blurb">{{.}}</section>
    {{end}}
    {{ range first 10 .Data.Pages }}
    <article class="summary">
        <header>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            {{if .Params.Draft}}
            {{ partial "draft.html" . }}
            {{end}}
            <div class="date">{{ .Date }}</div>
        </header>
        <main>
            {{ if .Summary }}
            {{.Summary}}
            {{else}}
            <span class="fade">No Description</span>
            {{end}}
            {{ if .Truncated }}
            <a href="{{ .RelPermalink }}">Read More</a>
            {{ end }}
        </main>
    </article>
    {{ end }}
</main>
</body>
</html>