@import "../variables.styl"

article.card
  border-left: 3px solid foreground;
  margin: 1em;
  padding: 0.5em;
  > img
    width: 100%;

  > header
    margin-bottom: 0.1em
    font-weight: 500;

  > ul
    color: lighten(foreground, 50%);
    font-size 0.8em
    margin 1em 0 0 0
    padding 0
    li
      list-style none
    &.buttons
      margin: 0;
      padding: 0;
      li
        display: inline;
  .date
    font-size: 0.8em;
    color: lighten(foreground, 65%);
  a
    color: inherit;

