article.card {
  border-left: 3px solid black;
  margin: 1em;
  padding: 0.5em;
  > img {
    width: 100%;
  }
  > header {
    margin-bottom: 0.1em
    font-weight: 500;
  }
  > ul.buttons {
    margin: 0;
    padding: 0;
    li {
      display: inline;
    }
  }
  .date {
    font-size: 0.8em;
    color: rgba(0,0,0,0.3);
  }
  a {
    color: inherit;
  }
}