{{ define "main" }}
<main role="main" class="skills">
  <section id="tags">
    <header>
      <h2>all competencies</h2>
      <a style="margin-left: auto; border: 2px solid black; border-radius: 0.3em; padding: 0.2em 0.8em; padding-top:0.45em; text-decoration: none; display: flex; align-items: center; justify-content: center; flex-direction: row; font-size: 0.7em; font-weight: bold;" href="/">back</a>
    </header>
    <ul class="skill-list">
      {{ $data := .Data }} {{ range $key, $skill := .Data.Terms.ByCount }}
      <li>
        <a
          class="tag"
          href="{{ $.Site.LanguagePrefix }}/{{ $data.Plural }}/{{ $skill.Name | urlize }}"
          >{{$skill.Name}} ({{$skill.Count}})</a
        >
      </li>
      {{ end }}
    </ul>
  </section>
</main>
{{ end }}
