{{ define "main" }}
<main role="main" class="skills">
  <section>
    <header style="display: flex; justify-content: space-between; flex-wrap: wrap;">
      <h2>experience with {{ .Title }}</h2>
      <div style="display: flex; flex-direction: row; gap: 0.2em;">
        <a style="margin-left: auto; border: 2px solid black; border-radius: 0.3em; padding: 0.2em 0.8em; padding-top:0.45em; text-decoration: none; display: flex; align-items: center; justify-content: center; flex-direction: row; font-size: 0.7em; font-weight: bold;" href="/competencies">all</a>
        <a style="margin-left: auto; border: 2px solid black; border-radius: 0.3em; padding: 0.2em 0.8em; padding-top:0.45em; text-decoration: none; display: flex; align-items: center; justify-content: center; flex-direction: row; font-size: 0.7em; font-weight: bold;" href="/">back</a>
      </div>
    </header>
    {{ range .Paginator.Pages }} 
      {{ if ne .Section "coverletters" }} 
        {{ partial ( print "cv/" (lower .Section) ) . }} {{ else }} {{ partial "summary.html" . }} 
      {{ end }} 
    {{ end }}
  </section>
  {{ partial "components/pagination.html" . }}
  <section>
    <header><h2>all competencies</h2></header>
    <ul class="skill-list">
      {{ range $name, $skill := .Site.Taxonomies.competencies.ByCount }}
      <li>
        <a
          class="tag"
          href="{{ $.Site.LanguagePrefix }}/competencies/{{ $skill.Name | urlize }}"
          >{{$skill.Name}} ({{$skill.Count}})</a
        >
      </li>
      {{ end }}
    </ul>
  </section>
</main>
{{ end }}
